<drachtio>

    <!-- udp port to listen on for client connections and shared secret used to authenticate clients -->
    <admin port="{{drachtioAdminPort}}" secret="{{drachtioSecret}}">{{ ansible_default_ipv4.address }}</admin>

<!--
    <request-handlers>
       <request-handler sip-method="*" http-method="GET">{{ drachtioHttpHandler }}</request-handler>
    </request-handlers>
-->

    <!-- sip configuration -->
    <sip>
        <contacts>
            <contact>sip:{{ ansible_default_ipv4.address }};transport=udp,tcp</contact>
        </contacts>


        <spammers action="reject" tcp-action="discard">
            <header name="User-Agent">
                <value>sip-cli</value>
                <value>sipcli</value>
                <value>friendly-scanner</value>
            </header>
            <header>
                <value>sipvicious</value>
            </header>
        </spammers>

        <udp-mtu>4096</udp-mtu>

        <!-- if you want to terminate SIP over TLS connections (example shows letsencrypt.org typical file locations, but use any CA)
        <tls>
                <key-file>/etc/letsencrypt/live/yourdomain/privkey.pem</key-file>
                <cert-file>/etc/letsencrypt/live/yourdomain/cert.pem</cert-file>
                <chain-file>/etc/letsencrypt/live/yourdomain/chain.pem</chain-file>
                <dh-param>/var/local/dh4096.pem</dh-param>
        </tls>
        -->

    </sip>

    <cdrs>true</cdrs>

<!--
    <monitoring>
        <prometheus port="8088">127.0.0.1</prometheus>
    </monitoring>
-->

    <!-- logging configuration -->
    <logging>

        <file>
            <name>{{drachtioLogFileDirectory}}/{{drachtioLogFilePattern}}</name>
            <archive>{{drachtioLogArchiveDirectory}}</archive>
            <size>{{drachtioLogFileSize}}</size>
            <maxSize>{{drachtioLogFileMaxSize}}</maxSize>
            <auto-flush>true</auto-flush>
        </file>

        <!-- sofia internal log level, from 0 (minimal) to 9 (verbose) -->
        <sofia-loglevel>3</sofia-loglevel>
        
        <!-- notice, warning, error, info, debug.  Default: info -->
        <loglevel>info</loglevel>
    </logging>
        
</drachtio>
